body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1,h2,h3 {
    font-family: Asap, sans-serif;
    color: #000000;
}

.botao {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 3px;
}

/* Navegação */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav > a {
            text-decoration: none;
            color: #FFFFFF;
            font-weight: 800;
            font-size:32px;
            font-family: Yellowtail, serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center; 
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/boat-5889919_960_720.webp");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

header h1 {
    color:  #FFFFFF;
}



#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #FFFFFF
}

#sobre h2 {
    color: #FFFFFF;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000x;
}

#sobre .botao {
    background-color: #f1f1f1;
    color: #1c1c1c;
}

/*Serviços*/

#servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30xp;
}

#servicos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    padding-top: 20px;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20x;
}

#contato h2 {
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {

    /*nav*/

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    /*cabeçalho*/

    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }


#sobre {
    height: 250px;
    height: 30vh;
    justify-content: center;
    min-height: 250px;
}

/*servicos*/

#servicos {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 1000px;
    margin: 0 auto;
}

#servicos .junto {
    width: 45%;
    display: flex;
    text-align: justify;
}
#servicos h2 {
    text-align: center;
}

#servicos div {
    
    padding: 0 10px;
}

.titulo {
    width: 100%;
}

#contato{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
}

#contato h2, #contato p {
    width: 100%;
}


}

#contato i  {
background-color: white;
color: black;
font-size: 30px;
}

nav li a:hover {
    color: teal;
}


